In [25]:
import jutil
import os

In [5]:
sql = "select * from student_record where family_address like '%合川%' or city  like '%合川%'"
stus = jutil.load_pd_df(sql)
stus.head()

,IsGraduateDesign,admin_from,admit_type,bedchamber_number,birthday,blood_type,city,city_id,class_code,class_code_shuyuan,...,student_phone,sx,use_name,weigh,wy,xingzuo,yw,zh,zhaosheng,zsyj
0,0,None,统考,None,377193600000,None,None,510283,0101200120,None,...,None,None,,None,None,射手座,None,None,None,None
1,0,None,统考,None,394300800000,None,None,510283,0402200107,None,...,None,None,,None,None,巨蟹座,None,None,None,None
2,0,None,统考,None,407952000000,None,None,510283,0305200105,None,...,None,None,,None,None,射手座,None,None,None,None
3,0,None,统考,None,401558400000,None,None,510283,0307200105,None,...,None,None,,None,None,天秤座,None,None,None,None
4,0,None,统考,None,394041600000,None,None,510283,0101200101,None,...,None,None,,None,None,巨蟹座,None,None,None,None

In [6]:
stus.to_csv(path_or_buf='hechuan_stu.csv')

In [27]:
def save_stus(code,grade,file_name):
    if os.path.exists('stus/'+file_name+'.csv') and os.path.exists('stus/'+file_name+'_photos.csv'):
        return
    sql = "select * from view_student_full_info where speciality_code='%s' and grade='%s'" % (code,grade)
    print(sql)
    stu = jutil.load_pd_df(sql)
    if not stu.empty:
        stu.drop('photo',axis=1).to_csv(path_or_buf='stus/'+file_name+'.csv')
        stu[['student_id','name','photo']].to_csv(path_or_buf='stus/'+file_name+'_photos.csv')

In [9]:
save_stus('0402','2015','cs_2015_stus')

In [10]:
save_stus('0408','2015','sw_2015_stus')

In [11]:
save_stus('0408','2014','sw_2014_stus')

In [18]:
# 查出所有专业代码
sql = "select DISTINCT speciality_code,speciality_name from speciality_record"
d_codes = jutil.load_pd_df(sql)
d_codes.head()

  speciality_code speciality_name
0            0101            土木工程
1            0102            铁道工程
2            0103            桥梁工程
3            0104       地下工程与隧道工程
4            0105         工业与民用建筑

In [21]:
# 保存下meta data
codes = d_codes['speciality_code'].values
names = d_codes.speciality_name.values
meta = [{'code':codes[i],'name':names[i]} for i in range(len(codes))]

In [23]:
jutil.dump_obj(obj=meta,path='stus/meta.txt')

In [28]:
for code in codes:
    save_stus(code,'2014',code+'_2014_stus')
    save_stus(code,'2015',code+'_2015_stus')

select * from view_student_full_info where speciality_code='0102' and grade='2014'
select * from view_student_full_info where speciality_code='0102' and grade='2015'
select * from view_student_full_info where speciality_code='0103' and grade='2014'
select * from view_student_full_info where speciality_code='0103' and grade='2015'
select * from view_student_full_info where speciality_code='0104' and grade='2014'
select * from view_student_full_info where speciality_code='0104' and grade='2015'
select * from view_student_full_info where speciality_code='0105' and grade='2014'
select * from view_student_full_info where speciality_code='0105' and grade='2015'
select * from view_student_full_info where speciality_code='0106' and grade='2014'
select * from view_student_full_info where speciality_code='0106' and grade='2015'
select * from view_student_full_info where speciality_code='0107' and grade='2014'
select * from view_student_full_info where speciality_code='0107' and grade='2015'
select * from view_student_full_info where speciality_code='0111' and grade='2014'
select * from view_student_full_info where speciality_code='0111' and grade='2015'
select * from view_student_full_info where speciality_code='0112' and grade='2014'
select * from view_student_full_info where speciality_code='0112' and grade='2015'
select * from view_student_full_info where speciality_code='0115' and grade='2014'
select * from view_student_full_info where speciality_code='0115' and grade='2015'
select * from view_student_full_info where speciality_code='0116' and grade='2014'
select * from view_student_full_info where speciality_code='0116' and grade='2015'
select * from view_student_full_info where speciality_code='0117' and grade='2014'
select * from view_student_full_info where speciality_code='0117' and grade='2015'
select * from view_student_full_info where speciality_code='0118' and grade='2014'
select * from view_student_full_info where speciality_code='0118' and grade='2015'
select * from view_student_full_info where speciality_code='0120' and grade='2014'
select * from view_student_full_info where speciality_code='0120' and grade='2015'
select * from view_student_full_info where speciality_code='01Y08' and grade='2014'
select * from view_student_full_info where speciality_code='01Y08' and grade='2015'
select * from view_student_full_info where speciality_code='01Y09' and grade='2014'
select * from view_student_full_info where speciality_code='01Y09' and grade='2015'
select * from view_student_full_info where speciality_code='01Y12' and grade='2014'
select * from view_student_full_info where speciality_code='01Y12' and grade='2015'
select * from view_student_full_info where speciality_code='01Y14' and grade='2014'
select * from view_student_full_info where speciality_code='01Y14' and grade='2015'
select * from view_student_full_info where speciality_code='0202' and grade='2014'
select * from view_student_full_info where speciality_code='0202' and grade='2015'
select * from view_student_full_info where speciality_code='0203' and grade='2014'
select * from view_student_full_info where speciality_code='0203' and grade='2015'
select * from view_student_full_info where speciality_code='0204' and grade='2014'
select * from view_student_full_info where speciality_code='0204' and grade='2015'
select * from view_student_full_info where speciality_code='0205' and grade='2014'
select * from view_student_full_info where speciality_code='0205' and grade='2015'
select * from view_student_full_info where speciality_code='0206' and grade='2014'
select * from view_student_full_info where speciality_code='0206' and grade='2015'
select * from view_student_full_info where speciality_code='0207' and grade='2014'
select * from view_student_full_info where speciality_code='0207' and grade='2015'
select * from view_student_full_info where speciality_code='0209' and grade='2014'
select * from view_student_full_info where speciality_code='0209' and grade='2015'
select * from view_student_full_info where speciality_code='0210' and grade='2014'
select * from view_student_full_info where speciality_code='0210' and grade='2015'
select * from view_student_full_info where speciality_code='0211' and grade='2014'
select * from view_student_full_info where speciality_code='0211' and grade='2015'
select * from view_student_full_info where speciality_code='0213' and grade='2014'
select * from view_student_full_info where speciality_code='0213' and grade='2015'
select * from view_student_full_info where speciality_code='0214' and grade='2014'
select * from view_student_full_info where speciality_code='0214' and grade='2015'
select * from view_student_full_info where speciality_code='0220' and grade='2014'
select * from view_student_full_info where speciality_code='0221' and grade='2014'
select * from view_student_full_info where speciality_code='0221' and grade='2015'
select * from view_student_full_info where speciality_code='0222' and grade='2014'
select * from view_student_full_info where speciality_code='0222' and grade='2015'
select * from view_student_full_info where speciality_code='02Y07' and grade='2014'
select * from view_student_full_info where speciality_code='02Y07' and grade='2015'
select * from view_student_full_info where speciality_code='02Y12' and grade='2014'
select * from view_student_full_info where speciality_code='02Y12' and grade='2015'
select * from view_student_full_info where speciality_code='02Y13' and grade='2014'
select * from view_student_full_info where speciality_code='02Y13' and grade='2015'
select * from view_student_full_info where speciality_code='02Y15' and grade='2014'
select * from view_student_full_info where speciality_code='02Y15' and grade='2015'
select * from view_student_full_info where speciality_code='02Y16' and grade='2014'
select * from view_student_full_info where speciality_code='02Y16' and grade='2015'
select * from view_student_full_info where speciality_code='0301' and grade='2014'
select * from view_student_full_info where speciality_code='0301' and grade='2015'
select * from view_student_full_info where speciality_code='0302' and grade='2014'
select * from view_student_full_info where speciality_code='0302' and grade='2015'
select * from view_student_full_info where speciality_code='0303' and grade='2014'
select * from view_student_full_info where speciality_code='0303' and grade='2015'
select * from view_student_full_info where speciality_code='0304' and grade='2014'
select * from view_student_full_info where speciality_code='0304' and grade='2015'
select * from view_student_full_info where speciality_code='0305' and grade='2014'
select * from view_student_full_info where speciality_code='0305' and grade='2015'
select * from view_student_full_info where speciality_code='0306' and grade='2014'
select * from view_student_full_info where speciality_code='0306' and grade='2015'
select * from view_student_full_info where speciality_code='0307' and grade='2014'
select * from view_student_full_info where speciality_code='0307' and grade='2015'
select * from view_student_full_info where speciality_code='0308' and grade='2014'
select * from view_student_full_info where speciality_code='0308' and grade='2015'
select * from view_student_full_info where speciality_code='0309' and grade='2014'
select * from view_student_full_info where speciality_code='0309' and grade='2015'
select * from view_student_full_info where speciality_code='0310' and grade='2014'
select * from view_student_full_info where speciality_code='0310' and grade='2015'
select * from view_student_full_info where speciality_code='0311' and grade='2014'
select * from view_student_full_info where speciality_code='0311' and grade='2015'
select * from view_student_full_info where speciality_code='0312' and grade='2014'
select * from view_student_full_info where speciality_code='0312' and grade='2015'
select * from view_student_full_info where speciality_code='0313' and grade='2014'
select * from view_student_full_info where speciality_code='0313' and grade='2015'
select * from view_student_full_info where speciality_code='0314' and grade='2014'
select * from view_student_full_info where speciality_code='0314' and grade='2015'
select * from view_student_full_info where speciality_code='0315' and grade='2014'

select * from view_student_full_info where speciality_code='0315' and grade='2015'
select * from view_student_full_info where speciality_code='0317' and grade='2014'
select * from view_student_full_info where speciality_code='0317' and grade='2015'
select * from view_student_full_info where speciality_code='0320' and grade='2014'
select * from view_student_full_info where speciality_code='0320' and grade='2015'
select * from view_student_full_info where speciality_code='03Y03' and grade='2014'
select * from view_student_full_info where speciality_code='03Y03' and grade='2015'
select * from view_student_full_info where speciality_code='03Y05' and grade='2014'
select * from view_student_full_info where speciality_code='03Y05' and grade='2015'
select * from view_student_full_info where speciality_code='03Y07' and grade='2014'
select * from view_student_full_info where speciality_code='03Y07' and grade='2015'
select * from view_student_full_info where speciality_code='03Y08' and grade='2014'
select * from view_student_full_info where speciality_code='03Y08' and grade='2015'
select * from view_student_full_info where speciality_code='0401' and grade='2014'
select * from view_student_full_info where speciality_code='0401' and grade='2015'
select * from view_student_full_info where speciality_code='0402' and grade='2014'
select * from view_student_full_info where speciality_code='0402' and grade='2015'
select * from view_student_full_info where speciality_code='0403' and grade='2014'
select * from view_student_full_info where speciality_code='0403' and grade='2015'
select * from view_student_full_info where speciality_code='0404' and grade='2014'
select * from view_student_full_info where speciality_code='0404' and grade='2015'
select * from view_student_full_info where speciality_code='0405' and grade='2014'
select * from view_student_full_info where speciality_code='0405' and grade='2015'
select * from view_student_full_info where speciality_code='0406' and grade='2014'
select * from view_student_full_info where speciality_code='0406' and grade='2015'
select * from view_student_full_info where speciality_code='0407' and grade='2014'
select * from view_student_full_info where speciality_code='0407' and grade='2015'
select * from view_student_full_info where speciality_code='0408' and grade='2014'
select * from view_student_full_info where speciality_code='0408' and grade='2015'
select * from view_student_full_info where speciality_code='0409' and grade='2014'
select * from view_student_full_info where speciality_code='0409' and grade='2015'
select * from view_student_full_info where speciality_code='0410' and grade='2014'
select * from view_student_full_info where speciality_code='0410' and grade='2015'
select * from view_student_full_info where speciality_code='0411' and grade='2014'
select * from view_student_full_info where speciality_code='0411' and grade='2015'
select * from view_student_full_info where speciality_code='0412' and grade='2014'
select * from view_student_full_info where speciality_code='0412' and grade='2015'
select * from view_student_full_info where speciality_code='0413' and grade='2014'
select * from view_student_full_info where speciality_code='0413' and grade='2015'
select * from view_student_full_info where speciality_code='0414' and grade='2014'
select * from view_student_full_info where speciality_code='0414' and grade='2015'
select * from view_student_full_info where speciality_code='0415' and grade='2014'
select * from view_student_full_info where speciality_code='0415' and grade='2015'
select * from view_student_full_info where speciality_code='0416' and grade='2014'
select * from view_student_full_info where speciality_code='0416' and grade='2015'
select * from view_student_full_info where speciality_code='04Y02' and grade='2014'
select * from view_student_full_info where speciality_code='04Y02' and grade='2015'
select * from view_student_full_info where speciality_code='04Y03' and grade='2014'
select * from view_student_full_info where speciality_code='04Y03' and grade='2015'
select * from view_student_full_info where speciality_code='04Y04' and grade='2014'
select * from view_student_full_info where speciality_code='04Y04' and grade='2015'
select * from view_student_full_info where speciality_code='04Y06' and grade='2014'
select * from view_student_full_info where speciality_code='04Y06' and grade='2015'
select * from view_student_full_info where speciality_code='04Y07' and grade='2014'
select * from view_student_full_info where speciality_code='04Y07' and grade='2015'
select * from view_student_full_info where speciality_code='04Y08' and grade='2014'
select * from view_student_full_info where speciality_code='04Y08' and grade='2015'
select * from view_student_full_info where speciality_code='04Y09' and grade='2014'
select * from view_student_full_info where speciality_code='04Y09' and grade='2015'
select * from view_student_full_info where speciality_code='04Y10' and grade='2014'
select * from view_student_full_info where speciality_code='04Y10' and grade='2015'
select * from view_student_full_info where speciality_code='04Y11' and grade='2014'
select * from view_student_full_info where speciality_code='04Y11' and grade='2015'
select * from view_student_full_info where speciality_code='04Y13' and grade='2014'
select * from view_student_full_info where speciality_code='04Y13' and grade='2015'
select * from view_student_full_info where speciality_code='04Y14' and grade='2014'
select * from view_student_full_info where speciality_code='04Y14' and grade='2015'
select * from view_student_full_info where speciality_code='0501' and grade='2014'
select * from view_student_full_info where speciality_code='0501' and grade='2015'
select * from view_student_full_info where speciality_code='0502' and grade='2014'
select * from view_student_full_info where speciality_code='0502' and grade='2015'
select * from view_student_full_info where speciality_code='0503' and grade='2014'
select * from view_student_full_info where speciality_code='0503' and grade='2015'
select * from view_student_full_info where speciality_code='0505' and grade='2014'
select * from view_student_full_info where speciality_code='0505' and grade='2015'
select * from view_student_full_info where speciality_code='0506' and grade='2014'
select * from view_student_full_info where speciality_code='0506' and grade='2015'
select * from view_student_full_info where speciality_code='0507' and grade='2014'
select * from view_student_full_info where speciality_code='0507' and grade='2015'
select * from view_student_full_info where speciality_code='0508' and grade='2014'
select * from view_student_full_info where speciality_code='0508' and grade='2015'
select * from view_student_full_info where speciality_code='0509' and grade='2014'
select * from view_student_full_info where speciality_code='0509' and grade='2015'
select * from view_student_full_info where speciality_code='0510' and grade='2014'
select * from view_student_full_info where speciality_code='0510' and grade='2015'
select * from view_student_full_info where speciality_code='0511' and grade='2014'
select * from view_student_full_info where speciality_code='0511' and grade='2015'
select * from view_student_full_info where speciality_code='0512' and grade='2014'
select * from view_student_full_info where speciality_code='0512' and grade='2015'
select * from view_student_full_info where speciality_code='05Y01' and grade='2014'
select * from view_student_full_info where speciality_code='05Y01' and grade='2015'
select * from view_student_full_info where speciality_code='05Y03' and grade='2014'
select * from view_student_full_info where speciality_code='05Y03' and grade='2015'
select * from view_student_full_info where speciality_code='05Y04' and grade='2014'
select * from view_student_full_info where speciality_code='05Y04' and grade='2015'
select * from view_student_full_info where speciality_code='05Y05' and grade='2014'
select * from view_student_full_info where speciality_code='05Y05' and grade='2015'
select * from view_student_full_info where speciality_code='0601' and grade='2014'
select * from view_student_full_info where speciality_code='0601' and grade='2015'

select * from view_student_full_info where speciality_code='0602' and grade='2014'
select * from view_student_full_info where speciality_code='0602' and grade='2015'
select * from view_student_full_info where speciality_code='0603' and grade='2014'
select * from view_student_full_info where speciality_code='0603' and grade='2015'
select * from view_student_full_info where speciality_code='0605' and grade='2014'
select * from view_student_full_info where speciality_code='0605' and grade='2015'
select * from view_student_full_info where speciality_code='0606' and grade='2014'
select * from view_student_full_info where speciality_code='0606' and grade='2015'
select * from view_student_full_info where speciality_code='0607' and grade='2014'
select * from view_student_full_info where speciality_code='0607' and grade='2015'
select * from view_student_full_info where speciality_code='0608' and grade='2014'
select * from view_student_full_info where speciality_code='0608' and grade='2015'
select * from view_student_full_info where speciality_code='0609' and grade='2014'
select * from view_student_full_info where speciality_code='0609' and grade='2015'
select * from view_student_full_info where speciality_code='0610' and grade='2014'
select * from view_student_full_info where speciality_code='0610' and grade='2015'
select * from view_student_full_info where speciality_code='0611' and grade='2014'
select * from view_student_full_info where speciality_code='0611' and grade='2015'
select * from view_student_full_info where speciality_code='0612' and grade='2014'
select * from view_student_full_info where speciality_code='0612' and grade='2015'
select * from view_student_full_info where speciality_code='0613' and grade='2014'
select * from view_student_full_info where speciality_code='0613' and grade='2015'
select * from view_student_full_info where speciality_code='0614' and grade='2014'
select * from view_student_full_info where speciality_code='0614' and grade='2015'
select * from view_student_full_info where speciality_code='06Y01' and grade='2014'
select * from view_student_full_info where speciality_code='06Y01' and grade='2015'
select * from view_student_full_info where speciality_code='06Y03' and grade='2014'
select * from view_student_full_info where speciality_code='06Y03' and grade='2015'
select * from view_student_full_info where speciality_code='06Y05' and grade='2014'
select * from view_student_full_info where speciality_code='06Y05' and grade='2015'
select * from view_student_full_info where speciality_code='06Y06' and grade='2014'
select * from view_student_full_info where speciality_code='06Y06' and grade='2015'
select * from view_student_full_info where speciality_code='06Y07' and grade='2014'
select * from view_student_full_info where speciality_code='06Y07' and grade='2015'
select * from view_student_full_info where speciality_code='06Y08' and grade='2014'
select * from view_student_full_info where speciality_code='06Y08' and grade='2015'
select * from view_student_full_info where speciality_code='06Y09' and grade='2014'
select * from view_student_full_info where speciality_code='06Y09' and grade='2015'
select * from view_student_full_info where speciality_code='06Y12' and grade='2014'
select * from view_student_full_info where speciality_code='06Y12' and grade='2015'
select * from view_student_full_info where speciality_code='0701' and grade='2014'
select * from view_student_full_info where speciality_code='0701' and grade='2015'
select * from view_student_full_info where speciality_code='0702' and grade='2014'
select * from view_student_full_info where speciality_code='0702' and grade='2015'
select * from view_student_full_info where speciality_code='0703' and grade='2014'
select * from view_student_full_info where speciality_code='0703' and grade='2015'
select * from view_student_full_info where speciality_code='0704' and grade='2014'
select * from view_student_full_info where speciality_code='0704' and grade='2015'
select * from view_student_full_info where speciality_code='0705' and grade='2014'
select * from view_student_full_info where speciality_code='0705' and grade='2015'
select * from view_student_full_info where speciality_code='0707' and grade='2014'
select * from view_student_full_info where speciality_code='0707' and grade='2015'
select * from view_student_full_info where speciality_code='0708' and grade='2014'
select * from view_student_full_info where speciality_code='0708' and grade='2015'
select * from view_student_full_info where speciality_code='0709' and grade='2014'
select * from view_student_full_info where speciality_code='0709' and grade='2015'
select * from view_student_full_info where speciality_code='0710' and grade='2014'
select * from view_student_full_info where speciality_code='0710' and grade='2015'
select * from view_student_full_info where speciality_code='0711' and grade='2014'
select * from view_student_full_info where speciality_code='0711' and grade='2015'
select * from view_student_full_info where speciality_code='0712' and grade='2014'
select * from view_student_full_info where speciality_code='0712' and grade='2015'
select * from view_student_full_info where speciality_code='0713' and grade='2014'
select * from view_student_full_info where speciality_code='0713' and grade='2015'
select * from view_student_full_info where speciality_code='0714' and grade='2014'
select * from view_student_full_info where speciality_code='0714' and grade='2015'
select * from view_student_full_info where speciality_code='07A04' and grade='2014'
select * from view_student_full_info where speciality_code='07A04' and grade='2015'
select * from view_student_full_info where speciality_code='07Y01' and grade='2014'
select * from view_student_full_info where speciality_code='07Y01' and grade='2015'
select * from view_student_full_info where speciality_code='07Y03' and grade='2014'
select * from view_student_full_info where speciality_code='07Y03' and grade='2015'
select * from view_student_full_info where speciality_code='07Y04' and grade='2014'
select * from view_student_full_info where speciality_code='07Y04' and grade='2015'
select * from view_student_full_info where speciality_code='07Y05' and grade='2014'
select * from view_student_full_info where speciality_code='07Y05' and grade='2015'
select * from view_student_full_info where speciality_code='07Y07' and grade='2014'
select * from view_student_full_info where speciality_code='07Y07' and grade='2015'
select * from view_student_full_info where speciality_code='07Y08' and grade='2014'
select * from view_student_full_info where speciality_code='07Y08' and grade='2015'
select * from view_student_full_info where speciality_code='07Y09' and grade='2014'
select * from view_student_full_info where speciality_code='07Y09' and grade='2015'
select * from view_student_full_info where speciality_code='07Y10' and grade='2014'
select * from view_student_full_info where speciality_code='07Y10' and grade='2015'
select * from view_student_full_info where speciality_code='07Y12' and grade='2014'
select * from view_student_full_info where speciality_code='07Y12' and grade='2015'
select * from view_student_full_info where speciality_code='07Y13' and grade='2014'
select * from view_student_full_info where speciality_code='07Y13' and grade='2015'
select * from view_student_full_info where speciality_code='07Y14' and grade='2014'
select * from view_student_full_info where speciality_code='07Y14' and grade='2015'
select * from view_student_full_info where speciality_code='0801' and grade='2014'
select * from view_student_full_info where speciality_code='0801' and grade='2015'
select * from view_student_full_info where speciality_code='0802' and grade='2014'
select * from view_student_full_info where speciality_code='0802' and grade='2015'
select * from view_student_full_info where speciality_code='0803' and grade='2014'
select * from view_student_full_info where speciality_code='0803' and grade='2015'
select * from view_student_full_info where speciality_code='0804' and grade='2014'
select * from view_student_full_info where speciality_code='0804' and grade='2015'
select * from view_student_full_info where speciality_code='0805' and grade='2014'

select * from view_student_full_info where speciality_code='0805' and grade='2015'
select * from view_student_full_info where speciality_code='0806' and grade='2014'
select * from view_student_full_info where speciality_code='0806' and grade='2015'
select * from view_student_full_info where speciality_code='0807' and grade='2014'
select * from view_student_full_info where speciality_code='0807' and grade='2015'
select * from view_student_full_info where speciality_code='0808' and grade='2014'
select * from view_student_full_info where speciality_code='0808' and grade='2015'
select * from view_student_full_info where speciality_code='0809' and grade='2014'
select * from view_student_full_info where speciality_code='0809' and grade='2015'
select * from view_student_full_info where speciality_code='0810' and grade='2014'
select * from view_student_full_info where speciality_code='0810' and grade='2015'
select * from view_student_full_info where speciality_code='0811' and grade='2014'
select * from view_student_full_info where speciality_code='0811' and grade='2015'
select * from view_student_full_info where speciality_code='0818' and grade='2014'
select * from view_student_full_info where speciality_code='0818' and grade='2015'
select * from view_student_full_info where speciality_code='08Y01' and grade='2014'
select * from view_student_full_info where speciality_code='08Y01' and grade='2015'
select * from view_student_full_info where speciality_code='08Y02' and grade='2014'
select * from view_student_full_info where speciality_code='08Y02' and grade='2015'
select * from view_student_full_info where speciality_code='08Y03' and grade='2014'
select * from view_student_full_info where speciality_code='08Y03' and grade='2015'
select * from view_student_full_info where speciality_code='08Y04' and grade='2014'
select * from view_student_full_info where speciality_code='08Y04' and grade='2015'
select * from view_student_full_info where speciality_code='08Y05' and grade='2014'
select * from view_student_full_info where speciality_code='08Y05' and grade='2015'
select * from view_student_full_info where speciality_code='08Y07' and grade='2014'
select * from view_student_full_info where speciality_code='08Y07' and grade='2015'
select * from view_student_full_info where speciality_code='0901' and grade='2014'
select * from view_student_full_info where speciality_code='0901' and grade='2015'
select * from view_student_full_info where speciality_code='0902' and grade='2014'
select * from view_student_full_info where speciality_code='0902' and grade='2015'
select * from view_student_full_info where speciality_code='0903' and grade='2014'
select * from view_student_full_info where speciality_code='0903' and grade='2015'
select * from view_student_full_info where speciality_code='0904' and grade='2014'
select * from view_student_full_info where speciality_code='0904' and grade='2015'
select * from view_student_full_info where speciality_code='0905' and grade='2014'
select * from view_student_full_info where speciality_code='0905' and grade='2015'
select * from view_student_full_info where speciality_code='0906' and grade='2014'
select * from view_student_full_info where speciality_code='0906' and grade='2015'
select * from view_student_full_info where speciality_code='0907' and grade='2014'
select * from view_student_full_info where speciality_code='0907' and grade='2015'
select * from view_student_full_info where speciality_code='09Y01' and grade='2014'
select * from view_student_full_info where speciality_code='09Y01' and grade='2015'
select * from view_student_full_info where speciality_code='09Y02' and grade='2014'
select * from view_student_full_info where speciality_code='09Y02' and grade='2015'
select * from view_student_full_info where speciality_code='09Y03' and grade='2014'
select * from view_student_full_info where speciality_code='09Y03' and grade='2015'
select * from view_student_full_info where speciality_code='09Y04' and grade='2014'
select * from view_student_full_info where speciality_code='09Y04' and grade='2015'
select * from view_student_full_info where speciality_code='09Y06' and grade='2014'
select * from view_student_full_info where speciality_code='09Y06' and grade='2015'
select * from view_student_full_info where speciality_code='1001' and grade='2014'
select * from view_student_full_info where speciality_code='1001' and grade='2015'
select * from view_student_full_info where speciality_code='1002' and grade='2014'
select * from view_student_full_info where speciality_code='1002' and grade='2015'
select * from view_student_full_info where speciality_code='1003' and grade='2014'
select * from view_student_full_info where speciality_code='1003' and grade='2015'
select * from view_student_full_info where speciality_code='1004' and grade='2014'
select * from view_student_full_info where speciality_code='1004' and grade='2015'
select * from view_student_full_info where speciality_code='1005' and grade='2014'
select * from view_student_full_info where speciality_code='1005' and grade='2015'
select * from view_student_full_info where speciality_code='1006' and grade='2014'
select * from view_student_full_info where speciality_code='1006' and grade='2015'
select * from view_student_full_info where speciality_code='1007' and grade='2014'
select * from view_student_full_info where speciality_code='1007' and grade='2015'
select * from view_student_full_info where speciality_code='1008' and grade='2014'
select * from view_student_full_info where speciality_code='1008' and grade='2015'
select * from view_student_full_info where speciality_code='1009' and grade='2014'
select * from view_student_full_info where speciality_code='1009' and grade='2015'
select * from view_student_full_info where speciality_code='1010' and grade='2014'
select * from view_student_full_info where speciality_code='1010' and grade='2015'
select * from view_student_full_info where speciality_code='10Y01' and grade='2014'
select * from view_student_full_info where speciality_code='10Y01' and grade='2015'
select * from view_student_full_info where speciality_code='10Y04' and grade='2014'
select * from view_student_full_info where speciality_code='10Y04' and grade='2015'
select * from view_student_full_info where speciality_code='10Y05' and grade='2014'
select * from view_student_full_info where speciality_code='10Y05' and grade='2015'
select * from view_student_full_info where speciality_code='1101' and grade='2014'
select * from view_student_full_info where speciality_code='1101' and grade='2015'
select * from view_student_full_info where speciality_code='1102' and grade='2014'
select * from view_student_full_info where speciality_code='1102' and grade='2015'
select * from view_student_full_info where speciality_code='1103' and grade='2014'
select * from view_student_full_info where speciality_code='1103' and grade='2015'
select * from view_student_full_info where speciality_code='1104' and grade='2014'
select * from view_student_full_info where speciality_code='1104' and grade='2015'
select * from view_student_full_info where speciality_code='11Y01' and grade='2014'
select * from view_student_full_info where speciality_code='11Y01' and grade='2015'
select * from view_student_full_info where speciality_code='11Y02' and grade='2014'
select * from view_student_full_info where speciality_code='11Y02' and grade='2015'
select * from view_student_full_info where speciality_code='1201' and grade='2014'
select * from view_student_full_info where speciality_code='1201' and grade='2015'
select * from view_student_full_info where speciality_code='1202' and grade='2014'
select * from view_student_full_info where speciality_code='1202' and grade='2015'
select * from view_student_full_info where speciality_code='1203' and grade='2014'
select * from view_student_full_info where speciality_code='1203' and grade='2015'
select * from view_student_full_info where speciality_code='1204' and grade='2014'
select * from view_student_full_info where speciality_code='1204' and grade='2015'
select * from view_student_full_info where speciality_code='12Y01' and grade='2014'
select * from view_student_full_info where speciality_code='12Y01' and grade='2015'

select * from view_student_full_info where speciality_code='12Y02' and grade='2014'
select * from view_student_full_info where speciality_code='12Y02' and grade='2015'
select * from view_student_full_info where speciality_code='12Y03' and grade='2014'
select * from view_student_full_info where speciality_code='12Y03' and grade='2015'
select * from view_student_full_info where speciality_code='1301' and grade='2014'
select * from view_student_full_info where speciality_code='1301' and grade='2015'
select * from view_student_full_info where speciality_code='1302' and grade='2014'
select * from view_student_full_info where speciality_code='1302' and grade='2015'
select * from view_student_full_info where speciality_code='1303' and grade='2014'
select * from view_student_full_info where speciality_code='1303' and grade='2015'
select * from view_student_full_info where speciality_code='1304' and grade='2014'
select * from view_student_full_info where speciality_code='1304' and grade='2015'
select * from view_student_full_info where speciality_code='1305' and grade='2014'
select * from view_student_full_info where speciality_code='1305' and grade='2015'
select * from view_student_full_info where speciality_code='13Y01' and grade='2014'
select * from view_student_full_info where speciality_code='13Y01' and grade='2015'
select * from view_student_full_info where speciality_code='13Y02' and grade='2014'
select * from view_student_full_info where speciality_code='13Y02' and grade='2015'
select * from view_student_full_info where speciality_code='13Y03' and grade='2014'
select * from view_student_full_info where speciality_code='13Y03' and grade='2015'
select * from view_student_full_info where speciality_code='1501' and grade='2014'
select * from view_student_full_info where speciality_code='1501' and grade='2015'
select * from view_student_full_info where speciality_code='1502' and grade='2014'
select * from view_student_full_info where speciality_code='1502' and grade='2015'
select * from view_student_full_info where speciality_code='15Y01' and grade='2014'
select * from view_student_full_info where speciality_code='15Y01' and grade='2015'
select * from view_student_full_info where speciality_code='15Y02' and grade='2014'
select * from view_student_full_info where speciality_code='15Y02' and grade='2015'
select * from view_student_full_info where speciality_code='1601' and grade='2014'
select * from view_student_full_info where speciality_code='1601' and grade='2015'
select * from view_student_full_info where speciality_code='1602' and grade='2014'
select * from view_student_full_info where speciality_code='1602' and grade='2015'
select * from view_student_full_info where speciality_code='1603' and grade='2014'
select * from view_student_full_info where speciality_code='1603' and grade='2015'
select * from view_student_full_info where speciality_code='1604' and grade='2014'
select * from view_student_full_info where speciality_code='1604' and grade='2015'
select * from view_student_full_info where speciality_code='1605' and grade='2014'
select * from view_student_full_info where speciality_code='1605' and grade='2015'
select * from view_student_full_info where speciality_code='1606' and grade='2014'
select * from view_student_full_info where speciality_code='1606' and grade='2015'
select * from view_student_full_info where speciality_code='1607' and grade='2014'
select * from view_student_full_info where speciality_code='1607' and grade='2015'
select * from view_student_full_info where speciality_code='1608' and grade='2014'
select * from view_student_full_info where speciality_code='1608' and grade='2015'
select * from view_student_full_info where speciality_code='1609' and grade='2014'
select * from view_student_full_info where speciality_code='1609' and grade='2015'
select * from view_student_full_info where speciality_code='1610' and grade='2014'
select * from view_student_full_info where speciality_code='1610' and grade='2015'
select * from view_student_full_info where speciality_code='16Y01' and grade='2014'
select * from view_student_full_info where speciality_code='16Y01' and grade='2015'
select * from view_student_full_info where speciality_code='16Y02' and grade='2014'
select * from view_student_full_info where speciality_code='16Y02' and grade='2015'
select * from view_student_full_info where speciality_code='16Y03' and grade='2014'
select * from view_student_full_info where speciality_code='16Y03' and grade='2015'
select * from view_student_full_info where speciality_code='16Y04' and grade='2014'
select * from view_student_full_info where speciality_code='16Y04' and grade='2015'
select * from view_student_full_info where speciality_code='2101' and grade='2014'
select * from view_student_full_info where speciality_code='2101' and grade='2015'
select * from view_student_full_info where speciality_code='2102' and grade='2014'
select * from view_student_full_info where speciality_code='2102' and grade='2015'
select * from view_student_full_info where speciality_code='2103' and grade='2014'
select * from view_student_full_info where speciality_code='2103' and grade='2015'
select * from view_student_full_info where speciality_code='2104' and grade='2014'
select * from view_student_full_info where speciality_code='2104' and grade='2015'
select * from view_student_full_info where speciality_code='2105' and grade='2014'
select * from view_student_full_info where speciality_code='2105' and grade='2015'
select * from view_student_full_info where speciality_code='2106' and grade='2014'
select * from view_student_full_info where speciality_code='2106' and grade='2015'
select * from view_student_full_info where speciality_code='2107' and grade='2014'
select * from view_student_full_info where speciality_code='2107' and grade='2015'
select * from view_student_full_info where speciality_code='2108' and grade='2014'
select * from view_student_full_info where speciality_code='2108' and grade='2015'
select * from view_student_full_info where speciality_code='21Y01' and grade='2014'
select * from view_student_full_info where speciality_code='21Y01' and grade='2015'
select * from view_student_full_info where speciality_code='21Y02' and grade='2014'
select * from view_student_full_info where speciality_code='21Y02' and grade='2015'
select * from view_student_full_info where speciality_code='2201' and grade='2014'
select * from view_student_full_info where speciality_code='2201' and grade='2015'
select * from view_student_full_info where speciality_code='2202' and grade='2014'
select * from view_student_full_info where speciality_code='2202' and grade='2015'
select * from view_student_full_info where speciality_code='22Y01' and grade='2014'
select * from view_student_full_info where speciality_code='22Y01' and grade='2015'
select * from view_student_full_info where speciality_code='22Y02' and grade='2014'
select * from view_student_full_info where speciality_code='22Y02' and grade='2015'
select * from view_student_full_info where speciality_code='2401' and grade='2014'
select * from view_student_full_info where speciality_code='2401' and grade='2015'
select * from view_student_full_info where speciality_code='2402' and grade='2014'
select * from view_student_full_info where speciality_code='2402' and grade='2015'
select * from view_student_full_info where speciality_code='2403' and grade='2014'
select * from view_student_full_info where speciality_code='2403' and grade='2015'
select * from view_student_full_info where speciality_code='24Y01' and grade='2014'
select * from view_student_full_info where speciality_code='24Y01' and grade='2015'
select * from view_student_full_info where speciality_code='24Y02' and grade='2014'
select * from view_student_full_info where speciality_code='24Y02' and grade='2015'
select * from view_student_full_info where speciality_code='24Y03' and grade='2014'
select * from view_student_full_info where speciality_code='24Y03' and grade='2015'
select * from view_student_full_info where speciality_code='2510' and grade='2014'
select * from view_student_full_info where speciality_code='2510' and grade='2015'
select * from view_student_full_info where speciality_code='2511' and grade='2014'
select * from view_student_full_info where speciality_code='2511' and grade='2015'

select * from view_student_full_info where speciality_code='2512' and grade='2014'
select * from view_student_full_info where speciality_code='2512' and grade='2015'
select * from view_student_full_info where speciality_code='2513' and grade='2014'
select * from view_student_full_info where speciality_code='2513' and grade='2015'
select * from view_student_full_info where speciality_code='2514' and grade='2014'
select * from view_student_full_info where speciality_code='2514' and grade='2015'
select * from view_student_full_info where speciality_code='2515' and grade='2014'
select * from view_student_full_info where speciality_code='2515' and grade='2015'
select * from view_student_full_info where speciality_code='2516' and grade='2014'
select * from view_student_full_info where speciality_code='2516' and grade='2015'
select * from view_student_full_info where speciality_code='25Y10' and grade='2014'
select * from view_student_full_info where speciality_code='25Y10' and grade='2015'
select * from view_student_full_info where speciality_code='25Y11' and grade='2014'
select * from view_student_full_info where speciality_code='25Y11' and grade='2015'
select * from view_student_full_info where speciality_code='25Y12' and grade='2014'
select * from view_student_full_info where speciality_code='25Y12' and grade='2015'
select * from view_student_full_info where speciality_code='25Y13' and grade='2014'
select * from view_student_full_info where speciality_code='25Y13' and grade='2015'
select * from view_student_full_info where speciality_code='25Y14' and grade='2014'
select * from view_student_full_info where speciality_code='25Y14' and grade='2015'
select * from view_student_full_info where speciality_code='2601' and grade='2014'
select * from view_student_full_info where speciality_code='2601' and grade='2015'
select * from view_student_full_info where speciality_code='2602' and grade='2014'
select * from view_student_full_info where speciality_code='2602' and grade='2015'
select * from view_student_full_info where speciality_code='2603' and grade='2014'
select * from view_student_full_info where speciality_code='2603' and grade='2015'
select * from view_student_full_info where speciality_code='2604' and grade='2014'
select * from view_student_full_info where speciality_code='2604' and grade='2015'
select * from view_student_full_info where speciality_code='2605' and grade='2014'
select * from view_student_full_info where speciality_code='2605' and grade='2015'
select * from view_student_full_info where speciality_code='2606' and grade='2014'
select * from view_student_full_info where speciality_code='2606' and grade='2015'
select * from view_student_full_info where speciality_code='26Y01' and grade='2014'
select * from view_student_full_info where speciality_code='26Y01' and grade='2015'
select * from view_student_full_info where speciality_code='26Y02' and grade='2014'
select * from view_student_full_info where speciality_code='26Y02' and grade='2015'
select * from view_student_full_info where speciality_code='26Y04' and grade='2014'
select * from view_student_full_info where speciality_code='26Y04' and grade='2015'
select * from view_student_full_info where speciality_code='2801' and grade='2014'
select * from view_student_full_info where speciality_code='2801' and grade='2015'
select * from view_student_full_info where speciality_code='2802' and grade='2014'
select * from view_student_full_info where speciality_code='2802' and grade='2015'
select * from view_student_full_info where speciality_code='28Y01' and grade='2014'
select * from view_student_full_info where speciality_code='28Y01' and grade='2015'
select * from view_student_full_info where speciality_code='28Y02' and grade='2014'
select * from view_student_full_info where speciality_code='28Y02' and grade='2015'
select * from view_student_full_info where speciality_code='2901' and grade='2014'
select * from view_student_full_info where speciality_code='2901' and grade='2015'
select * from view_student_full_info where speciality_code='2902' and grade='2014'
select * from view_student_full_info where speciality_code='2902' and grade='2015'
select * from view_student_full_info where speciality_code='3000' and grade='2014'
select * from view_student_full_info where speciality_code='3000' and grade='2015'
select * from view_student_full_info where speciality_code='3201' and grade='2014'
select * from view_student_full_info where speciality_code='3201' and grade='2015'
select * from view_student_full_info where speciality_code='3202' and grade='2014'
select * from view_student_full_info where speciality_code='3202' and grade='2015'
select * from view_student_full_info where speciality_code='3203' and grade='2014'
select * from view_student_full_info where speciality_code='3203' and grade='2015'
select * from view_student_full_info where speciality_code='3301' and grade='2014'
select * from view_student_full_info where speciality_code='3301' and grade='2015'
select * from view_student_full_info where speciality_code='3302' and grade='2014'
select * from view_student_full_info where speciality_code='3302' and grade='2015'
select * from view_student_full_info where speciality_code='3303' and grade='2014'
select * from view_student_full_info where speciality_code='3303' and grade='2015'
select * from view_student_full_info where speciality_code='3304' and grade='2014'
select * from view_student_full_info where speciality_code='3304' and grade='2015'
select * from view_student_full_info where speciality_code='6701' and grade='2014'
select * from view_student_full_info where speciality_code='6701' and grade='2015'
select * from view_student_full_info where speciality_code='67Y01' and grade='2014'
select * from view_student_full_info where speciality_code='67Y01' and grade='2015'
select * from view_student_full_info where speciality_code='7901' and grade='2014'
select * from view_student_full_info where speciality_code='7901' and grade='2015'
select * from view_student_full_info where speciality_code='8001' and grade='2014'
select * from view_student_full_info where speciality_code='8001' and grade='2015'
select * from view_student_full_info where speciality_code='8101' and grade='2014'
select * from view_student_full_info where speciality_code='8101' and grade='2015'